{
  "extends": ["one-base"],
  "root": true,
  "parserOptions": {
    "project": ["./tsconfig.json"]
  },
  "rules": {
    "import/prefer-default-export": "off",
    "max-lines-per-function": "off",
    "@typescript-eslint/ban-types": "off"
  }
}
